body{margin:0;}
a{color:#ffffff;background-color:#0087cf;font-size:15px;font-family:'Roboto', sans-serif;font-weight:400;line-height:30px;text-align:center;text-decoration:none;width:128px;height:32px;border-radius:2px;display:block;}
a span{margin-right:5px;}